body {
  background-color: #000000;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

p, .top {
  color: #66ff99;
  font-size: 2rem;
  padding: 2px;
}

img {
  margin: 21%;
  width: 50%;
}

.top {
  border-style: outset;
}

.scoreBoard {
  background-image: linear-gradient(to bottom, rgba(31, 72, 200, 1), rgba(53, 13, 249, 1), rgba(46, 15, 245, 0), rgba(83, 141, 253, 1), rgba(255, 255, 255, 1));
  border-radius: 5%;
}

.col {
  min-width: auto;
}

.pName {
  font-size: 1rem;
  color: #232931;
  font-family: cursive;
  font-weight: bolder;
}

.counter {
  border-style: inset;
  color: red;
  font-weight: bolder;
  text-shadow: none;
}

/* Media queries */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  img {
    margin: 21%;
    width: 70%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  img {
    margin: 10%;
    width: 50%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  img {
    margin: 7%;
    width: 45%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  img {
    margin: 6%;
    width: 30%;
  }
}
